<div class="modal-header">
    <h4 class="modal-title">{{titulo}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cross-click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="save()">
        <div class="formGroup">
            <label for="title">Nome:</label>
            <input type="text" id="nome" placeholder="Nome" class="form-control" formControlName="nome"/>
            <span style="color: red;" *ngIf="form.controls['nome'].touched && form.controls['nome'].errors?.required">Campo requerido</span>
        </div>
        <div class="form-group">
            <label for="endereco">Endereço:</label>
            <textarea id="endereco" placeholder="Endereço" class="form-control" formControlName="endereco"></textarea>
            <span style="color: red;"  *ngIf="form.controls['endereco'].touched && form.controls['endereco'].errors?.required">Campo requerido</span>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="casado" formControlName="casado" />
            <label class="form-check-label" for="casado" >
                Casado
            </label>
        </div>

    </form>
</div>

<div class="modal-footer" >
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')" >Fechar</button>
    <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid" >Salvar</button>
</div>
